<ion-view view-title="Grabar">
  <ion-content>
    <ion-list>

      <div class="row">
        <button class="button button-block button-positive" ng-click="GrabarIzq()">
          <span style="font-size: 8pt">Grabar Izquierda</span>
        </button>
        <button class="button button-block button-positive" ng-click="StopIzq()">
          <span style="font-size: 8pt">Detener Izquierda</span>
        </button>
        <button class="button button-block button-positive" ng-click="GrabarDer()">
          <span style="font-size: 8pt">Grabar Derecha</span>
        </button>
        <button class="button button-block button-positive" ng-click="StopDer()">
          <span style="font-size: 8pt">Detener Derecha</span>
        </button>
      </div>
      <div class="row">
        <button class="button button-block button-positive" ng-click="GrabarArr()">
          <span style="font-size: 8pt">Grabar Arriba</span>
        </button>
        <button class="button button-block button-positive" ng-click="StopArr()">
          <span style="font-size: 8pt">Detener Arriba</span>
        </button>
        <button class="button button-block button-positive" ng-click="GrabarAba()">
          <span style="font-size: 8pt">Grabar Abajo</span>
        </button>
        <button class="button button-block button-positive" ng-click="StopAba()">
          <span style="font-size: 8pt">Detener Abajo</span>
        </button>
      </div>
      <div class="row">
        <button class="button button-block button-positive" ng-click="GrabarBArr()">
          <span style="font-size: 8pt">Grabar Boca Arriba</span>
        </button>
        <button class="button button-block button-positive" ng-click="StopBArr()">
          <span style="font-size: 8pt">Detener Boca Arriba</span>
        </button>
        <button class="button button-block button-positive" ng-click="GrabarBAba()">
          <span style="font-size: 8pt">Grabar Boca Abajo</span>
        </button>
        <button class="button button-block button-positive" ng-click="StopBAba()">
         <span style="font-size: 8pt"> Detener Boca Abajo</span>
        </button>
      </div>

      <button class="button button-block button-positive" ng-click="Jugar()">
          Ir al Juego
      </button>

    </ion-list>
  </ion-content>
</ion-view>
