<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>

      <img style="position:absolute;
                        width: {{ImgOptions.width}}px;
                        height: {{ImgOptions.height}}px;
                        top: {{ImgOptions.x}}px;
                        left: {{ImgOptions.y}}px;" src="img/adam.jpg">

      <button class="button button-block button-positive" ng-click="startWatching()">
      Start
      </button>
      <button class="button button-block button-positive" ng-click="stopWatching()">
      Stop
      </button>

      <h4>{{measurements.x}}</h4>
      <h4>{{measurements.y}}</h4>
      <h4>{{measurements.z}}</h4>
      <h2>IMGX: {{ImgOptions.x | number:2}}</h2>
      <h2>IMGY: {{ImgOptions.y | number:2}}</h2>
      <h2>WHeight: {{WHeight}}</h2>
      <h2>WWidth: {{WWidth}}</h2>
    </ion-list>
  </ion-content>
</ion-view>
